* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Times, serif;
}

.header {
    padding: 6rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav__logo {
   width: 18rem;
   /* flex: 0; */
   /* justify-content: start; */
}

.nav__links a {
    text-decoration: none;
    color: black;
}

.nav__links {
    display: flex;
    gap: 7rem;
    /* padding: 0 15rem; */
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}

.hero__tag {
    opacity: 0.5;
}

.hero__description {
    width: 24rem;
}

.hero__image {
    width: 26rem;
    align-items: center;
}

/* .mission {
    display: flex;
    padding: 120px 6rem;
    margin: 0 10vh;
    position: relative;
    background-image: url("");
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat 
}

.mission-image {
    display: block;
    width: 100%;
    height: auto;
}

.mission-content {
    position: absolute;
    text-align: center;
} */

.mission {
    position: relative;
    margin: 9rem 4rem;
}

.mission-image {
    width: 100%;
    display: block;
    border-radius: 20px; /* optional */
}

.mission-content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    
    width: 80%;
    max-width: 900px;

    text-align: center;
}

.product {
    display: flex;
    padding: 5rem;
    margin: 12vh 0;
    justify-content: space-between;
    align-items: center;
}

.product__content {
    max-width: 30rem;
}

.product__description {
    margin-top: 1.5rem;
    font-size: 1rem;
}

.product__images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 0 0 50%;
}

.product__image-1 {
    width: 100%;
    display: block;
}

.product__image-2 {
    display: flex;
    gap: 1rem;
}

.product__image-2 img {
    width: 50%;
}

.cta {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 250, 250);
    padding: 5rem;
    text-align: center;
    border-bottom: 1px solid black;
}

.cta p {
    padding: 1rem 12rem;
    font-size: 0.9rem;
}

.partner {
    padding: 5rem;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.partner h1 {
    margin-bottom: 2rem;
}

.partner {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partner h1 {
  margin-bottom: 3rem;
}

.partner__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
}

.partner__list img {
  height: 70px;
  width: auto;
  object-fit: contain;
}

.contact {
    display: flex;
    padding: 3rem;
    justify-content: space-around;
}

.contact__form {
    display: block;
}

.footer {
    display: flex;
    padding: 4rem;
    background-color: rgb(202, 243, 243);
    justify-content: center;
}